#movie-main-background{
    width: 100vh ;
    height: 100vh;  
}
 #movie-details-image{
   
    height: 100vh
} 



#bg-movie-data{
  
    border-radius: 0.5rem;
    width: 95%;
    background-color: rgba(8, 7, 7, 0.809);
}